.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    padding-top: 1rem ;
}
.filtercontainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}